*.png
*.root
*.bat
*.swp
log/*
datfiles/*
matrix/rootfiles/*
pdf_bXings_fills/*
pdf_bXings_fills_lin/*
pdf_bXings_fills_lin_zoom/*
pdf_bXings_fills_log/*
pdf_bXings_runs/
pdfs/*
png_rellum/*
rand_files/*
htmlfiles/nbx_check/*
htmlfiles/pdf_bXings_fills_lin/*
htmlfiles/pdf_bXings_fills_lin_zoom/*
htmlfiles/pdf_bXings_fills_log/*
htmlfiles/png_rellum/*
htmlfiles/png_rellum_se/*
htmlfiles.tar.gz
matrix/log/*
